@mixin box-size() {
  * {
    box-sizing: border-box;
  }
}

@mixin none-scrollbar() {
  *::-webkit-scrollbar {
    display: none;
  }
}

@mixin link-edit() {
  a {
    color: white;
    text-decoration: none;
  }
}

.notification {
  .notice {
    background-color: $blue-color;
    color: $white;
    text-align: center;
  }
  .alert {
    background-color: $orange-color;
    color: $white;
    text-align: center;
  }
}